
@import "tailwindcss";
:root {
  --font-inter: Inter, sans-serif;
}
/* Drawer Form Input Styles */
/* .input {
  @apply w-full mt-2 p-3 border border-gray-300 bg-gray-50 rounded-lg outline-none focus:ring-2 focus:ring-[#3730A3] transition;
} */

/* .input {
  @apply w-full border border-gray-300 rounded-lg px-3 py-2 mt-1 text-sm
         focus:ring-2 focus:ring-[#3730A3] focus:border-gray-400 outline-none;
} */
.input {
  @apply w-full border border-gray-300 rounded-lg px-3 py-2 text-sm 
  focus:ring-1 focus:ring-[#3730A3] focus:border-gray-400 outline-none;
}
.label {
  @apply text-sm font-medium text-gray-700 mb-1 block;
}

/* GLOBAL BUTTON STYLES */
.btn {
  @apply px-6 py-2 rounded-lg text-sm font-medium transition;
}

/* Primary Save Button */
.btn-primary {
  @apply bg-[#3730A3] text-white hover:bg-[#5a3fd1];
}

/* Cancel / Secondary Button */
.btn-secondary {
  @apply border border-gray-300 text-gray-700 hover:bg-gray-100;
}


.section {
  @apply space-y-2;
}